<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.name }} blog</title>
</head>
<body>
    <header>
        <h1>{{ site.name }} {% if title %} - {{ title }}{% endif %}</h1>
        <h3>{{ site.description }}</h3>
    </header>
    <nav>
        <ul>
            {% for item in nav.items %}
                <li><a href="{{ item.url }}"
                    {% if item.url == page.url %}
                        aria-current="page" data-state="active"
                    {% endif %}
                    >{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>&copy; {% currentYear %} andersamer.com</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
