/* TODO: Download this font locally so you won't have to fetch it */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
    /* Text settings */
    --font-family: Inter, Arial, Helvetica, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
    --font-scale: 0.9rem;
    --line-height: 1.5;

    --border-radius: 0.2rem;

    /* Disable user-select */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set some baseline variables */
:root {

    /* Text settings */
    --text-primary: #3f3f3f;
    --text-title: #181818; /* The title tags should have a slightly more distinguished color */
    
    --page-margin-top: 5.5rem; 
    --page-max-width: 37rem;
    --bg-primary: white;

    /* Border settings */
    --border-default-color: #9c9c9c;
    --border-size: 1px;
    --border-default: var(--border-size) solid var(--border-default-color);
    
    /* Link settings */
    --link-color: #0676d1;  
    --link-hover-color: #0097c5;
    
    /* Extra */
    --icon-color: #282828;
    --accent: #1f6d85; /* TODO: Make this a better color and find a use for it */
    --shadow-color: rgba(0, 0, 0, 0.16) 0px 2px 3px;
    --user-select-fg-color: white;
    --user-select-bg-color: #3a3939; 

}

/* TODO: Update dark mode colors */
/* @media (prefers-color-scheme: dark) {
    :root {
        --text-primary: white;
        --text-title: white;
        --bg-primary: #282828;
        --border-default-color: #a1a1a1;
        --border-default: 1px solid var(--border-default-color);
        --icon-color: white;
        --accent: #31a2c5;
        --shadow-color: rgba(255, 255, 255, 0.45) 0px 1px 4px;
        --link-color: #0097c5;
        --link-hover-color: #60b0c9;
        --user-select-fg-color: black;
        --user-select-bg-color: white;
    }
} */

/* Apply an animation between page navigation */
@view-transition {
    navigation: auto; /* TODO: Maybe you can put your own custom animation function here? */
}

/* Style the color of user-selected text */
::selection {
    color: var(--user-select-fg-color);
    background: var(--user-select-bg-color);
}
::-moz-selection { /* Code for Firefox */
    color: var(--user-select-fg-color);
    background: var(--user-select-bg-color);
}

/* Apply the basic default settings to everything as a baseline */
body {
    background-color: var(--bg-primary);
    font-family: var(--font-family);
    color: var(--text-primary);
    box-sizing: border-box;
    line-height: var(--line-height);
    font-size: var(--font-scale);
}

/* Add a little space under the nav */
nav {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

a, a:visited {
    text-decoration: dotted underline 1px;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3rem;
    color: var(--text-title);
}

/* Paragraph tags don't need to be doin all that */
p {
    margin-top: 0;
}

/* Dotted lines! */
hr {
    border: none;
    border-top: dotted var(--border-default-color) 1.5px;
}

/* Allow user-select only within <article> tags */
article {
    --user-select-article: text;
    -webkit-user-select: var(--user-select-article);
    -ms-user-select: var(--user-select-article);
    user-select: var(--user-select-article);
}
