.cardWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: var(--border-default);
    border-radius: 0.2rem;
    width: 16.8rem;
    word-wrap: break-word;
    text-overflow: hidden;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: var(--text-primary);
}

.card:hover {
    box-shadow: var(--shadow-color);
}

.card:hover > .card-content > h3 {
    color: var(--link-color);
    text-decoration: underline;
}