#postList {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0rem; /* We can take care of this with padding later */
    margin-bottom: 1rem; /* Have a little bit of space at the bottom of the list */
}

.post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-default-color); /* Apply a border as a little separator */
    width: 100%; /* Take up the entire width of the postList */
}
/* Make sure the last post doesn't have a border on the bottom */
.post:last-child {
    border-bottom: 0px;
}

/* Undo the default styling of tags within .post-content */
.post .post-content {
    padding: var(--post-gap); /* Space in between the stuff in the postList! */
    /* height: 100%; */
    /* width: 100%;    */
    text-decoration: none; 
    color: var(--text-primary);
}

/* Stack the title bar and description on top of each other */
.post-content {
    display: flex;
    flex-direction: column;
}

/* TODO: I probably don't need this many wrappers... */
.post-title-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px;
}

.post-title {
    align-self: flex-start;
    flex-grow: 1; /* Take up most of the space */
    font-size: 1rem;
    margin: 0px;
}
.post-date {
    align-self: flex-end; /* Justify to the right side of the page */
    flex-shrink: 0; /* Don't shrink at all */
    font-size: 0.75rem;
    font-family: var(--font-family-monospace);
    color: var(--post-alt-text-color);
}
.post-description {
    font-size: 0.85rem;
}

.post-title, .post-description {
    /* Overflow with an elipsis */
    white-space: nowrap;         /* Prevents text from wrapping onto a new line */
    overflow: hidden;            /* Hides overflowed content */
    text-overflow: ellipsis;     /* Adds the ellipsis */
}

/* TODO: Come up with something to change when you hover over a post */
/* .post:hover {} */

/* Only highlight the title of the post when you hover over it */
.post:hover > .post-content > .post-title-bar > .post-title {
    color: var(--link-color);
    text-decoration: underline;
}