---
layout: skeleton
---

<header>
    {# Only display a title if one is supplied by the content #}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}
    {# Throw the nav in there #}
    {% include "nav.njk" %}
</header>
<main>
    {{ content | safe }}
</main>

{% include "footer.njk" %}
