---
layout: base
stylesheet: "public/css/post.css"
---

{# Content of the post #}
<article>

    {# Only display a description if the article has one #}
    {% if description %}
        <em class="post-description">{{ description }}</em>
        <br>
    {% endif %}
    {# Post date #}
    <strong>Date:</strong> <span class="post-date">{{ date | normalDate }}</span>
    <br>
    <hr>
    {{ content | safe }}
</article>