---
layout: base
---

{# Only display a description if the article has one #}
{% if description %}
    <h3><i>{{ description }}</i></h3>
{% endif %}

{# Post date #}
<em>{{ date | normalDate }}</em>
<br>
<br>

{# Content of the post #}
<article>
{{ content | safe }}
</article>