---
title: "Blog"
description: "A list of all my posts."
---

{# Include the CSS file that styles the post list #}
{%- css %}{% include "public/css/postList.css" %}{% endcss %}

{# List all of the posts in reverse chronological order #}
{# TODO: add cool styling to the post list #}
<div id="postList">
    {% for post in collections.posts | reverse %}
        <div class="post">
            <a class="post-content" href="{{ post.url }}">
                <h4 class="post-title">{{ post.data.title }}</h4>
                <span class="post-date">{{ post.data.date | normalDate }}</span>
                <span class="post-description">{{ post.data.description }}</span>
            </a>
        </div>
    {%- endfor -%}
</div>