---
title: "Blog"
description: "A list of all my posts."
---

{%- css %}{% include "public/css/postList.css" %}{% endcss %}
{% for post in collections.posts %}
    <a href="{{ post.url }}">
        <h4>{{ post.data.title }}</h4>
    </a>
{% endfor %}