---
title: "Contact"
---

{# layout: fullscreen (?) #}

<article>

    <p><strong>Mastodon:</strong> <a href="https://mastodon.social/@andersamer">@andersamer@mastodon.social</a></p>

    <p><strong>Email:</strong> <a href="mailto:andersamer@proton.me">andersamer@proton.me</a></p>

    <p><strong>IRC:</strong> andersamer@Libera.Chat</p>

    <p><strong>Signal:</strong> (Information per request)</p>

</article>

